<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment = "job-table" class = "job-listing" th:each = "job : ${jobs}">
        <tr>
            <td th:text = "${#strings.toUpperCase('id: ')}"></td>
            <td th:text = ${job.getId()}></td>
        </tr>
        <tr>
            <td th:text = "${#strings.toUpperCase('name: ')}"></td>
            <td th:text = ${job.getName()}></td>
        </tr>
        <tr>
            <td th:text = "${#strings.toUpperCase('employer: ')}"></td>
            <td>
                <a th:href = "@{/list/jobs?column=employer&(value=${job.getEmployer()})}" th:text = ${job.getEmployer()}></a>
            </td>
        </tr>
        <tr>
            <td th:text = "${#strings.toUpperCase('location: ')}"></td>
            <td>
                <a th:href = "@{/list/jobs?column=location&(value=${job.getLocation()})}" th:text = ${job.getLocation()}></a>
            </td>
        </tr>
        <tr>
            <td th:text = "${#strings.toUpperCase('position type: ')}"></td>
            <td>
                <a th:href = "@{/list/jobs?column=positionType&(value=${job.getPositionType()})}" th:text = ${job.getPositionType()}></a>
            </td>
        </tr>
        <tr>
            <td th:text = "${#strings.toUpperCase('skill: ')}"></td>
            <td>
                <a th:href = "@{/list/jobs?column=coreCompetency&(value=${job.getCoreCompetency()})}" th:text = ${job.getCoreCompetency()}></a>
            </td>
        </tr>
    </table>
<!--/list/jobs?column=coreCompetency&value=iOS-->
</body>
</html>